* {
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    position:fixed;
    bottom:15px;
    width: 100%;
    text-align: center;
}

html {
    background-color:#FFFF00;
}

h1 {
    color:#000080 ;
    max-width: 650px;
}

p {
    font-family: 'EB Garamond', serif;
    color: #232136;
}

.navbar{
    display: flex;
    list-style-type: none;
    justify-content: right;
    align-items: stretch;
    flex-direction: row;
    text-align: right;
}

.navbar a {
    text-decoration: none;
    margin-right: 15px;
    font-size:25px;
    color:#3e8fb0;
}

.navbar a:hover {
    color:#232136;
}

button {
    border: 0;
    background-color:#faf4ed;
    color: #3e8fb0;
    font-size: 35px;
    text-align:center;
}

button:hover {
    color: #232136;
}


ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.entirepage {
    display:flex;
    flex-direction: row;
    height: 100vw;
}

.textbox_area{
    margin: auto;
    width: 50%;
    padding-top: 10%;
    display:flex;
    flex-direction: row;
}

@media screen and (max-width:600px) {
    .textbox_area{
        padding-left: 30px
    }
}
