<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="{{ url_for('static',filename='CSS/style.css') }}" rel="stylesheet">
    <head>
        <title>Download Page</title>
    </head>
    <h1>Download</h1>
    <body>
        <p>Download estimates as csv files</p>
        <h2>{{ filename }}</h2>
        <form action="{{ url_for('download_csv') }}" method="POST" enctype="multipart/form-data">
            <input type="submit" value="Download CSV File">
        </form>
    </body>
</html>
