<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="{{ url_for('static',filename='CSS/style.css') }}" rel="stylesheet">
    <title>Welcome</title>
</head>
<main>
    <nav class="navbar">
        <h1 class="header">
            <a href="check_file.html">Submit Link</a>
            <a href=localhost:8080/manual>Submit Manual Data</a>
        </h1>
    </nav>

    <button class="newnote"
            type="button">
        Welcome to the Measurement Tool
    </button>
</main>
<footer>
    created by Vancouver Viceroys
</footer>   
</html>
