<!DOCTYPE html>
<html>
<head>
    <title>Floor Area Estimates</title>
</head>
<body>
    <h1>Floor Area Estimates</h1>
    <table>
        <tr>
            <th>Property ID</th>
            <th>Estimated Floor Area</th>
            <th>Actual Floor Area</th>
            <th>Difference</th>
        </tr>
        {% for property in properties %}
        <tr>
            <td>{{ property.id }}</td>
            <td>{{ property.estimated_floor_area }}</td>
            <td>{{ property.actual_floor_area }}</td>
            <td>{{ property.difference }}</td>
        </tr>
        {% endfor %}
    </table>
    <div id="map"></div>
    <script>
        // Use the ArcGIS API to display the map
        var map = new Map("map", {
            basemap: "satellite",
            center: [{{ properties[0].longitude }}, {{ properties[0].latitude }}],
            zoom: 15
        });

        // Add the estimated floor area as a feature layer on the map
        var featureLayer = new FeatureLayer({
            url: "{{ feature_layer_url }}"
        });
        map.add(featureLayer);
    </script>
</body>
</html>
