<!DOCTYPE html>
<html>
<head>
    <title>Floor Area Estimates</title>
</head>
<body>
    <h1>Floor Area Estimates</h1>
    <table>
        <tr>
            <th>Property ID</th>
            <th>Estimated Floor Area</th>
            <th>Actual Floor Area</th>
            <th>Difference</th>
        </tr>
        {% for property in properties %}
        <tr>
            <td>{{ property.id }}</td>
            <td>{{ property.estimated_floor_area }}</td>
            <td>{{ property.actual_floor_area }}</td>
            <td>{{ property.difference }}</td>
        </tr>
        {% endfor %}
    </table>
    <div id="map">
        
    </div>
</body>
</html>
