<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.google.com/specimen/Tilt+Warp" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/style.css') }}">
    <title>Welcome to the Measurement Tool</title>
</head>
<main>
    <nav class="navbar">
        <h1>
            <a href="{{ url_for('manual')}}">Submit Manual Data</a>
            <a href=#>Submit Link</a>
        </h1>
    </nav>
    
    <header>
        <h1>Welcome to the Measurement Tool for Vancouver Storefronts</h1>
            <p>This tool will take in a submitted file and return a calculated storefront sizing.</p>
            <p>his is done by checking to make sure that the storefront's centroid is located in the polygon of the floor sizing. </p>
            <p>If multiple storefronts (centroids) exist in a building or polygon, then the area will be
                divided by the number of centroids, giving it the average.</p>
    </header>

</main>
<footer>
    <p>Created by Vancouver Viceroys</p>
</footer>   
</html>
